<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Kasetsart IoT Environment Monitoring System </title>

  <!-- Bootstrap core CSS 22-->
  <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <link href="css/full-width-pics.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Kasetsart IoT Environment Monitoring System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">UserManual</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('image/forest.jpg');">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> -->
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>Kasetsart IoT Environment Monitoring System</h1>
      <p class="lead">Kasetsart IoT Environment Monitoring System is bla blar +_+_+__+++_+_+_</p>
      <p>KHBJjdshlfhwpe-08ruiouy267438798r09powqdskmna;ncfqpiehf028ye97ruiwojfbdk;ainm9cpomir[m0q2ru5np3 497icm9pioqrwelkfm;dj[fq9eur-209378yirhkebdjlkfnc;we</p>
    </div>
  </section>
  <div class="container text-dark">
    <h4 class="alert-heading">Select device!</h4>
    Please select device for monitoring.
  </div>
  <br>
  <div class="container bg-light text-dark">
    <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Devices</th>
                    <th scope="col">Status</th>
                    <th scope="col">LastUpdate</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/dash?id=1" class="btn btn-success btn-lg" role="button" aria-pressed="true">Device1</a></td>
                        <td>Online</td>
                        <td>12/12/12 20:00</td>
                    </tr>
                    <tr>
                        <td><a href="/dash?id=2" class="btn btn-success btn-lg" role="button" aria-pressed="true">Device2</a></td>
                        <td>Online</td>
                        <td>12/12/12 20:00</td>
                    </tr>
                    <tr>
                        <td><a href="/dash?id=3" class="btn btn-success btn-lg" role="button" aria-pressed="true">Device3</a></td>
                        <td>Offline</td>
                        <td>12/12/12 20:00</td>
                    </tr>
                    <tr>
                        <td><a href="/dash?id=4" class="btn btn-success btn-lg" role="button" aria-pressed="true">Device4</a></td>
                        <td>Offline</td>
                        <td>12/12/12 20:00</td>
                    </tr>
                    <tr>
                        <td><a href="/dash?id=5" class="btn btn-success btn-lg" role="button" aria-pressed="true">Device5</a></td>
                        <td>Online</td>
                        <td>12/12/12 20:00</td>
                    </tr>
                    
                </tbody>
        </table>
  </div>
  <br>
  <br>
  <br>

  <!-- Footer -->
  <footer class="py-5 bg-dark mx-auto">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; KITTAPHORN 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="jquery/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


</body>

</html>
